* {
  margin: 0px;
  box-sizing: border-box;
  background-color: ff0000;
}
html, body {
  height: 100%;   
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header h1 {
  font-family: "Montserrat", sans-serif;
}
.content-wrapper {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.todo-list {
  height: 70%;
  width: 80%;
  border: 1px solid black;
}

.todo-post{
  width: 100%;
  height: 2.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  border: 1px solid black;
}
.text-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.todo-text {
  padding: 5px;
  width: 65%;
}
.author-and-timestamp {
  padding: 5px;
  display: flex;
  width: 35%;
  justify-content: space-between;

}
.todo-form {
  height: 20%;
  width: 80%;
  padding: 5px;
  border: 1px solid black;
}